# TARGET config
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1=y

# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-Os -pipe -march=armv8-a+crc+crypto -mtune=cortex-a53 -mcpu=cortex-a53 -mfix-cortex-a53-835769 -mfix-cortex-a53-843419"

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_luci-proto-wireguard=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
#  USB Support
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb2=y
#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-veth=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Disable Package
CONFIG_PACKAGE_automount=n

# Package
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6
#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-zerotier=y

# --- Extra ---

CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-wireguard=y
CONFIG_PACKAGE_kmod-mtd-rw=y
CONFIG_PACKAGE_kmod-zram=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_cgdisk=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_sfdisk=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_luci-nginx=y
# CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_socat=y
# CONFIG_PACKAGE_luci-app-socat=y
CONFIG_PACKAGE_luci-app-zerotier=y
# CONFIG_PACKAGE_luci-app-dockerman=y
# CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-cloudflared=y
# CONFIG_PACKAGE_luci-app-wan-mac=y
CONFIG_PACKAGE_luci-app-change-mac=y
CONFIG_PACKAGE_zsh=y
# CONFIG_PACKAGE_git=y
# CONFIG_PACKAGE_git-http=y
# CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_screen=y
CONFIG_PACKAGE_vim-fuller=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-argon-config=y
# CONFIG_PACKAGE_kmod-fs-btrfs=y
# CONFIG_PACKAGE_btrfs-progs=y
# CONFIG_PACKAGE_kmod-fs-f2fs=y
# CONFIG_PACKAGE_f2fs-tools=y
# CONFIG_PACKAGE_fstrim=y
CONFIG_PACKAGE_luci-mod-dashboard=y
CONFIG_PACKAGE_luci-mod-admin-full=y
CONFIG_PACKAGE_luci-mod-network=y
CONFIG_PACKAGE_luci-mod-status=y
CONFIG_PACKAGE_luci-mod-system=y
CONFIG_PACKAGE_luci-mod-listening-ports=y
CONFIG_PACKAGE_sing-box=y
CONFIG_PACKAGE_luci-app-wolplus=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-vnstat2=y
# CONFIG_PACKAGE_luci-app-filebrowser-go=y
# CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-ramfree=y

CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-advancedplus=y
CONFIG_PACKAGE_wrtbwmon=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-app-unishare=y



# CONFIG_PACKAGE_luci-app-usb-printer=y

# CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-usb3disable=y

CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-qosmate=y
# CONFIG_PACKAGE_luci-app-turboacc=y
