# Proxy
#  Passwall

CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n

# Proxy
CONFIG_PACKAGE_luci-app-passwall2=y
CONFIG_PACKAGE_luci-app-passwall2_Iptables_Transparent_Proxy=n
CONFIG_PACKAGE_luci-app-passwall2_Nftables_Transparent_Proxy=y
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Hysteria=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_IPv6_Nat=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_NaiveProxy=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Shadowsocks_Rust_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_ShadowsocksR_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_tuic_client=n
CONFIG_PACKAGE_luci-app-passwall2_INCLUDE_V2ray_Plug=n

#  HomeProxy
CONFIG_PACKAGE_luci-app-homeproxy=y

# DNS
CONFIG_PACKAGE_chinadns-ng=y
CONFIG_PACKAGE_luci-app-chinadns-ng=y

# Nikki
CONFIG_PACKAGE_nikki=y
CONFIG_PACKAGE_luci-app-nikki=y